<div class="form">
  <h4 [ngClass]="{'info-danger':editable, 'info': !editable}">{{editable ? 'Edycja: ' +id :'Nowy'}}</h4>
  <div *ngIf="checkname" class="alert alert-danger">
    <strong>Nazwa jest zajęta</strong>
  </div>
  <form [formGroup]="warehouseForm">
    <div class="form-group">
      <label for="">Nazwa</label>
      <input class="form-control" type="text" formControlName="name">
    </div>
    <div class="form-group">
      <label for="">Nazwa Wyswietlana</label>
      <input class="form-control" type="text" formControlName="visible_name">
    </div>
      <div class="form-group">
      <label for="">Opis</label>
      <input class="form-control" type="text" formControlName="description">
    </div>
    <div class="form-group">
      <label for="">Dostepny</label>
      <select class="form-control" formControlName="available">
        <option [value]="true">Tak</option>
        <option [value]="false">Nie</option>
      </select>
    </div>
  </form>
</div>
<button (click)="onNewWarehouse()">Dodaj</button>

<div *ngIf="editable">
  <app-edit-stock [name]="id"></app-edit-stock>
</div>

