<div class="form">
  <h3>Dodaj element do magazynu {{name}}</h3>
  <form [formGroup]="stockForm">
    <div class="form-group">
      <label for="">Komponent</label>
      <select class="form-control" formControlName="komponentName" (ngModelChange)="selectedItem($event)">
        <option
          *ngFor="let k of (komponentState | async).komponents; let i = index"
          [value]="i">
          {{k._name}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Ilość</label>
      <input class="form-control" type="number" formControlName="stock">
    </div>
  </form>
</div>
<br>
<button class="btn btn-primary" (click) = "addStockToWarehouse()">Dodaj</button>
<button class="btn btn-danger">Usuń</button>
