<div class="col-8">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Komponenty</strong>
    </div>
    <div class="card-body">
      <button (click)="onNewKomponent()" class="btn btn-primary">Nowy komponent</button>
      <app-list-component></app-list-component>
    </div>
  </div>
</div>
<div class="col-4">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Szczegóły</strong>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

