<div class="col-lg-12">
<div class="card">
  <div class="card-header">
    <strong class="card-title">Magazyny</strong>
  </div>
  <div class="card-body">
  <button class="btn btn-primary" (click)="onNewWarehouse()">Nowy magazyn</button>
  <app-list-warehouse [war]="warehouseList" ></app-list-warehouse>
</div>
  </div>
</div>
<div class="col-lg-12">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Szczegóły</strong>
    </div>
    <div class="card-body" style="min-height: 220px">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
