<div *ngIf="(testPowodzenie | async)?.errors" class="alert alert-danger">
  <strong>Błąd</strong>-coś poszło nie tak.
</div>
<div *ngIf="!(testPowodzenie | async)?.errors && powodzenie" class="alert alert-info">
  Operacja powiodła się.
</div>
<div class="form">
  <h3>Dodaj nowy komponent</h3>

  <form [formGroup]="komponentForm">
    <p>
      <label for="">Nazwa</label>
      <input type="text" formControlName="name" [attr.disabled]="editable ? 'disabled' : null">
    </p>
    <p>
      <label for="">Opis</label>
      <input type="text" formControlName="desc">
    </p>
    <p>
      <label for="">Materiał</label>
      <input type="text" formControlName="material">
      <span *ngIf="komponentForm.controls['material'].valid">Poprawne</span>
    </p>
    <p>
      <label for="">Waga</label>
      <input type="number" formControlName="weight">
    </p>
    <p>
      <label for="">Kolejność</label>
      <input type="number" formControlName="order">
    </p>
    <p>
      <label for="">Jednostki</label>
      <select formControlName = "units">
        <option *ngFor="let e of units(); let i = index" value={{e}}>{{e}}</option>
      </select>
    </p>
    <select formControlName="type_1">
      <option *ngFor="let e of keys(); let i = index" value={{e}}>{{e}}</option>
    </select>
    <p>
      <label for="">Wymiar X</label>
      <input type="number" formControlName="dimensionX">
    </p>
    <p>
      <label for="">Wymiar Y</label>
      <input type="number" formControlName="dimensionY">
    </p>
    <p>
      <label for="">Wymiar Z</label>
      <input type="number" formControlName="dimensionZ">
    </p>

  </form>
</div>
<button (click)="onNewKomponent()">{{editable ? 'Zapisz zmiany':'Dodaj'}}</button>



