

<input class="form-control" type="text" name="search" [(ngModel)]="filter">
<br>
<table  id="bootstrap-data-table" class="table table-striped table-bordered">
  <thead>
  <th (click)="sort('_name')">Nazwa</th>
  <th (click)="sort('_visibleName')">Nazwa Wyswietlana</th>
  <th (click)="sort('_desc')">Opis</th>
  <th (click)="sort('_available')">Dostepnosc</th>
  <th>Akcja</th>
  </thead>
  <tbody>
    <tr *ngFor = "let w of (war | async).warehouses | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 35, currentPage: p }; let i = index" >
        <td (click)="listClick(w._name)">{{w._name}}</td>
        <td (click)="listClick(w._name)">{{w._visibleName}}</td>
        <td (click)="listClick(w._name)">{{w._desc}}</td>
        <td (click)="listClick(w._name)">{{w._available}}</td>
        <td>
          <button class="btn btn-primary" (click)="onAddElementToWarehouse(w._name)">Dodaj / Edycja</button>
        </td>
    </tr>
  </tbody>
</table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>


